.contacts__title {
  .font(24px; 300; 29px);
  color: @dark-light-blue;
}

.contacts__list-term {
  .font(18px; 700; 25px);
  color: @dark-light-blue;
}

.contacts__list-definition {
  margin: 0;
}

.contacts__list-link {
  .font(24px; 300; 33px);
  color: @pink;
  text-decoration: none;
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
