.download {
  background-color: @dark-blue;
}

.download__wrapper {
  .wrapper-info();
}

.download__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.download__button {
  .font(18px;700;18px);
  color: @white;
  text-decoration: none;
}

.download__description {
  .font(14px;300;24px);
  color: @white;
  margin: 0;
}
