.features {
  background-color: @grey-light;
}

.features__wrapper {
  .wrapper-info();
}

.features__intro {
  .font(24px;300;29px);
  color:@dark-light-blue;
}

.features__list {
  list-style: none;
  margin:0;
  padding:0;
}

.features__title {
  .font(18px;700;24px);
  color:@black;
}

.features__description {
  .font(14px;400;24px);
  color:@dark-light-blue;
}
