.features {
  background-color: @grey-light;
}

.features__intro {
  .font(24px;300;29px);
  color: @dark-light-blue;
  background-color: @white;
  margin: 0;
  text-align: center;
}

.features__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  .size(280px;96px);
}

.features__title {
  .font(18px;700;24px);
  .size(240px;14px);
  color: @black;
  margin: 0;
  margin-bottom: 24px;
}

.features__description {
  .font(14px;400;24px);
  .size(280px;58px);
  color: @dark-light-blue;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .features__list {
    display: flex;
    flex-direction: column;
  }
  .features__item {
    .size(310px;96px);
  }
  .features__title {
    .size(310px;14px);
    margin-bottom: 24px;
  }
  .features__description {
    .size(310px;58px);
  }
}

@media (min-width: @desktop-width) {
  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .features__item {
    .size(252px;191px);
  }
  .features__title {
    .font(30px;700;30px);
    .size(244px;53px);
    margin-bottom: 35px;
  }
  .features__description {
    .font(18px;400;30px);
    .size(252px;103px);
  }
}
