.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__item-input {
  .font(18px;400;30px);
  color: @dark-light-blue;
}


.form__item-input::placeholder {
  color: @dark-light-blue;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__fieldset--personal-data .form__item-label {
  .font(14px;400;30px);
  color: @pink;
  text-transform: uppercase;
}

.form__legend {
  .font(14px;400;18px);
  color: @pink;
  text-transform: uppercase;
}

.form__item-label {
  .font(18px;400;30px);
  color: @dark-light-blue;
}

.form__textarea {
  .font(18px;400;30px);
  font-family: "Open Sans", "Arial", sans-serif;
}

.form__textarea::placeholder {
  color: @dark-light-blue;
}

.form__submit-button {
  .font(18px;700;30px);
  .size(276px;59px);
  color: @white;
  text-transform: uppercase;
  background-color: @green-dark;
  border: 2px solid @green-dark;
  border-radius: 1px;
}

.form__addition {
  .font(14px;400;30px);
  color: @dark-light-blue;
  text-transform: uppercase;
}

.form__addition::first-letter {
  color: @pink;
}
