.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 462px;
  background-image: url("../../img/back-mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    min-height: 729px;
    background-color: fade(@black, 30%);
    background-image: url("../../img/back-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
    background-color: fade(@black, 30%);
    background-image: url("../../img/back-desktop.jpg");
    background-size: 2560px 853px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: @dark-light-blue;
  }
}

@media (min-width: @mobile-width) {
  .page-header__background {
    background-image: url("../../img/first-screen-phone-mobile.png");
    background-repeat: no-repeat;
    background-position: -20px 174px;
    padding-bottom: 1px;
    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .page-header__background {
    background-image: url("../../img/first-screen-phone-tablet.png");
    background-repeat: no-repeat;
    background-position: -20px 184px;
    padding-bottom: 107px;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .page-header__background {
    background-image: url("../../img/first-screen-phone.png");
    background-repeat: no-repeat;
    background-position: 17px 168px;
    padding-bottom: 124px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo img {
    display: none;
  }
}

.page-header__container {
  position: relative;
}

.page-header__logo {
  .size(74px; 23px);
  position: absolute;
  display: block;
  top: 22px;
  left: 20px;
  z-index: 3;

  @media (min-width: @tablet-width) {
    top: 27px;
    left: 21px;
    .size(145px; 40px);
    background-image: url("../../img/logotype-white-tablet.svg");
  }

  @media (min-width: @desktop-width) {
    position: relative;
    left: 0px;
    .size(147px; 40px);
    background-image: url("../../img/logotype-white-desktop.svg");
  }
}
