.page-main__headline {
  .font(24px;300;33px);
  color: @white;
  margin: 0;
}

.page-main__wrapper {
  background-image: url("../img/first-screen-image.png");
  background-repeat: no-repeat;
  min-height: 396px;
}

.page-main__slogan {
  .font(24px;300;29px);
  min-height: 47px;
  color: @white;
  margin: 0;
}

.page-main__description {
  .font(14px;400;30px);
  text-align: center;
  color: @dark-light-blue;
  padding: 0;
  margin: 0;
}

.page-main__form {
  margin-top: 55px;
}
