.page-main__headline {
  .font(24px;300;33px);
  color: @white;
  margin: 0;
}

.page-main__container {
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
  }
}

.page-header__slogan {
  .font(24px;300;29px);
  padding-top: 23px;
  color: @white;
  margin: 0;
  text-align: center;
  position: relative;

  @media (min-width: @tablet-width) {
    .font(40px;300;48px);
    display: inline-block;
    width: 220px;
    padding-left: 40px;
    padding-top: 94px;
    margin-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    .font(50px;300;68px);
    padding-left: 31px;
    padding-top: 54px;
    margin-bottom: 6px;
  }
}
