.photo__item {
  margin: 0;
}

.photo__author {
  margin: 0;
}

.photo__author-name {
  .font(14px;700;24px);
  color: @dark-light-blue;
}

.photo__time {
  .font(12px;400;24px);
  color: @dark-light-blue;
  text-transform: uppercase;
}

.photo__text {
  .font(14px;400;24px);
  color: @dark-light-blue;
  margin: 0;
}

.photo__like-counter {
  .font(12px;400;24px);
  color: @pink;
  text-transform: uppercase;
}
