.photo__item,
.page-main__photo-item {
  margin: 0;
}

.photo__info,
.page-main__photo-info {
  background-color: @grey-light;
}

.photo__item-scale,
.page-main__photo-main {
  display: block;
  height: 150px;
}

.page-main__photo-container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.photo__author,
.page-main__photo-author {
  margin: 0;
}

.photo__author-name,
.page-main__author-name {
  .font(14px;700;24px);
  color: @dark-light-blue;
}

.photo__time,
.page-main__photo-time {
  .font(12px;400;24px);
  color: @dark-light-blue;
  text-transform: uppercase;
}

.photo__text,
.page-main__photo-text {
  .font(14px;400;24px);
  color: @dark-light-blue;
  margin: 0;
}

.photo__like-counter,
.page-main__photo-like-counter {
  .font(12px;400;24px);
  color: @pink;
  text-transform: uppercase;
}

.upload__form {
  display: flex;
  flex-direction: column;
}

.upload__buttons {
  display: flex;
}

.upload__buttons .upload__button {
  margin-right: 35px;
}

@media (min-width: @tablet-width) {
  .photo {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 20px;
    row-gap: 20px;
  }

  .upload__form {
    display: block;
  }

  .upload__buttons {
    flex-direction: column;
  }

  .upload__buttons-sent {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
    row-gap: 54px;
  }

  .upload__buttons {
    flex-direction: column;
  }

  .upload__buttons-sent {
    flex-direction: row;
  }
}
