.price {
  background-color: @grey-light;
}

.price__wrapper {
  .wrapper-info();
}

.price__table-head:not(:first-child) {
  background-color: @dark-light-blue;
}

.price__name {
  .font(16px;700;30px);
  color: @white;
  text-transform: uppercase;
}

.price__price {
  .font(18px;300;30px);
  color: @white;
  text-transform: uppercase;
}

.price__table-cell {
  .font(14px;400;30px);
  color: @dark-light-blue;
  text-transform: uppercase;
}
