.price {
  background-color: @grey-light;
}

.price__table-head:not(:first-child) {
  background-color: @dark-light-blue;
}

.price__table-head {
  width: 276px;
  padding: 0;
}

.price__name {
  display: block;
  .font(16px;700;30px);
  .size(276px;12px);
  color: @white;
  text-transform: uppercase;
}

.price__price {
  display: block;
  .font(18px;300;30px);
  .size(276px;13px);
  color: @white;
  text-transform: uppercase;
}

.price__table-cell {
  .font(14px;400;30px);
  width: 276px;
  color: @dark-light-blue;
  text-transform: uppercase;
}

.price__table-head:first-child {
  display: none;
}

.price__wrapper {
  overflow: hidden;
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 834px;
}

@media (min-width: @tablet-width) {
  .price__table {
    width: 620px;
  }

  .price__table-head:first-child {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .price__table {
    width: 940px;
  }

  .price__table-head:first-child {
    display: block;
  }
}

