.reviews__item {
  margin: 0;
}

.reviews__author-name {
  .font(18px; 700; 30px);
  font-style: normal;
  width: 158px;
  color: @black;
  margin-bottom: 31px;
}

.reviews__author-text {
  .font(14px; 400; 30px);
  width: 280px;
  color: @dark-light-blue;
  margin: 0;
  margin-bottom: 44px;
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

.reviews__author-information {
  display: none;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reviews {
    height: 221px;
  }

  .reviews__author-info {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-name {
    .font(20px; 700; 30px);
    width: 175px;
    color: @black;
    margin: 0;
    margin-bottom: 17px;
    order: 2;
  }

  .reviews__author-information {
    display: block;
    .font(14px; 400; 30px);
    width: 174px;
    color: @dark-light-blue;
    margin: 0;
    margin-bottom: 49px;
    order: 3;
  }

  .reviews__author-text {
    .font(18px; 400; 30px);
    width: 620px;
    color: @dark-light-blue;
    margin: 0;
    margin-bottom: 51px;
  }

  .reviews__prev {
    display: none;
  }

  .reviews__next {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    min-height: 292px;
  }

  .reviews__author-name {
    .font(24px; 700; 30px);
    width: 210px;
    color: @black;
    margin: 0;
    margin-bottom: 17px;
  }

  .reviews__author-information {
    display: block;
    .font(18px; 400; 30px);
    width: 224px;
    color: @dark-light-blue;
    margin: 0;
    margin-bottom: 50px;
  }

  .reviews__author-text {
    .font(18px; 400; 30px);
    width: 688px;
    color: @dark-light-blue;
    margin: 0;
    margin-bottom: 50px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__prev {
    display: block;
  }

  .reviews__next {
    display: block;
  }
}
