.upload__appeal {
  .font(14px;400;30px);
  color: @dark-light-blue;
}

.upload__accept {
  .font(18px;700;18px);
  .size(280px; 55px);
  color: @pink;
  border: 3px solid @pink;
  border-radius: 30px;
  background-color: transparent;
}

.upload__reset {
  .font(18px;700;18px);
  .size(280px; 55px);
  color: @dark-light-blue-opacity;
  border: 3px solid @dark-light-blue-opacity;
  border-radius: 30px;
  background-color: transparent;
}
